@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'TTLaundryGothicB';
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 100vh;
  display: flex;
}

.background{
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../images/green.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.dday{
  padding-left: 5%;
  padding-right: 5%;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p{
  margin: 0;
}

#title{
  font-size: 10vw;
  font-weight: bold;
  margin-bottom: 5%;
  overflow: hidden;
  text-overflow:ellipsis;
}


#count{
  font-size: 20vw;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#endDate{
  font-size: 5vw;
  margin-right: 10%;
  text-align: right;
  color: rgb(84, 84, 84);
}